@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,500);

body {
  background-color: #474640;
  color: #8c8c8c;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

h1 {
  opacity: .7;
  margin-top: 2.5%;
  margin-left: 2.5%;
  font-weight: 400;

}

/*========== form ===========*/

#hashtagForm {
    margin-left: 15%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333333;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #333333;
}
:-ms-input-placeholder { /* IE 10+ */*/
  color: #333333;*/
}
:-moz-placeholder { /* Firefox 18- */
  color: #333333;
}

#hashtagInput {
  background-color: #8c8c8c;
  width: 22%;
  border-style: none;
  box-sizing: border-box;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  padding-left: 10px;
}

#regionGeoCode {
  background-color: #8c8c8c;
  color: #474640;

  border-style: none;
}

#submitButton {
  background-color: #666666;
  text-align: center;
  color: #333333;
  width: 20%;
  border-style: none;
}

/*=========== Tweets ====================*/


#userSubmittedTweets, #tweetsDiv {
  height: 200px;
  margin: 4px;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  padding: 6px;
  overflow:auto;
}

#userSubmittedTweets{
  margin-bottom: 20px;
}

#userSubmittedTweets, #tweetsDiv p {
  color: #bbb;
  font-size: .9em;
}

#userSubmittedTweets:empty {
  display:none;
}

#searchResult{
  margin: 10px;
}

#tweetsHeader {
    margin-top: 20px;
}

/*========== hashtags==========*/

/*#hashtagsHeader:empty {
  display: none;
}*/

#pieChart {
  margin-left: 25%;
  margin-right: 15%;
  padding-bottom: 3%;
}

polyline {
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

text {
  fill: #8c8c8c;
}

/*#hashtagAssociatesDiv {
  display: block;
}*/

.hashtagsHeader {
  margin: 10px;
}

#hashtagAssociates {
  margin-left: 15%;
  color: #bbb;
}
